$prefix-cls: 'common_bodyCom_layout';

.#{$prefix-cls} {
  height: 100%;
  .ant-layout-header {
    background-color: #fff;
    display: flex;
    padding: 0;
    height: 50px;
  }
  .ant-layout-content  {
    margin: 20px;
    overflow-y: overlay;
    background-color: #fff;
    flex: 1;
    padding: 20px;
  }
  .ant-layout-footer {
    margin: 0 20px;
    background-color: #fff;
    display: flex;
    padding: 0;
    height: 50px;
  }
  &-header-container {
    width: 0;
    flex: 1;
    overflow: hidden;
    padding: 0 16px 0 20px;
    display: flex;
    align-items: center;
    .anticon-arrow-left {
      font-size: 16px;
      padding-right: 8px;
      cursor: pointer;
      color: #1677ff;
    }
  }
  &-footer-container {
    width: 0;
    flex: 1;
    overflow: hidden;
    padding: 0 16px;
    display: flex;
    align-items: center;
  }
}