@import '../../themeStyle.scss';

$prefixCls: 'app-side-layout';
$collapsedTransition: width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;

.#{$prefixCls} {
  height: 100vh;
  display: flex;

  &-menu {
    display: flex;
    flex-direction: column;
    .ant-menu {
      flex: 1;
    }

    .collapsed-box {
      background: #001529;
      display: flex;
      justify-content: flex-end;
      transition: #{$collapsedTransition};
      &-btn-fold {
        width: 72px;
      }
      &-btn-unfold {
        width: 45px;
      }
      &-btn {
        margin: 4px;
        background-color: #001529;
        color: rgba($color: #fff, $alpha: .8);
        &:hover,&:active {
          color: #fff !important;
          background-color: #001529 !important;
        }
      }
    }

    .logo-box {
      height: 60px;
      background-color: #001529;
      transition: #{$collapsedTransition};
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
    }
  }
  &-menu-unfold {
    // width: 256px;
    .ant-menu {
      .ant-menu-item,.ant-menu-submenu-inline {
        .ant-menu-title-content {
          text-align: left;
          padding-left: 10px;
        }
      }
    }

    .logo-box {
      justify-content: left;
      padding-left: 20px;
    }
  }
  // &-menu-fold {
  //   width: 80px;
  // }
  &-container {
    flex: 1;
    background-color: #efefef;
    .tools {
      height: 50px;
      display: flex;
      align-items: center;
      position: fixed;
      right: 16px;
      .global-search {
        width: 200px;
        margin-left: auto;
        .ant-input-affix-wrapper,.ant-input-group-addon .ant-btn {
          height: 30px;
          background-color: #efefef;
          border: none;
          box-shadow: none;
        }
        .ant-input {
          background-color: #efefef;
        }
      }
      .lang-dropdown {
        margin: 0 16px;
        display: flex;
      }
      .theme-dropdown {
        margin: 0 16px;
        display: flex;
      }
      .install-dropdown {
        display: flex;
      }
    }
  }
}

.lang-dropdown-menu,.install-dropdown-menu,.theme-dropdown-menu  {
  ul {
    background-color: #000 !important;
    li {
      color: #fff !important;
    }
  }
}

// 使用主题函数
.app-side-layout-menu {
  // @include useTheme{
  //   box-shadow: 1px 0px 1px getVar('textColor');
  // };
  box-shadow: 1px 0px 1px red;
  .logo-box {
    @include useTheme{
      background-color: getVar('bgColor');
      color: getVar('textColor');
    };
  }
  .ant-menu {
    @include useTheme{
      background-color: getVar('bgColor');
      color: getVar('textColor');
    };
  }
  .collapsed-box {
    @include useTheme{
      background-color: getVar('bgColor');
      color: getVar('textColor');
    };
    &-btn {
      @include useTheme{
        background-color: getVar('bgColor');
        color: getVar('textColor');
      };
    }
  }
}
// .app-side-layout-container {
//   .common_bodyCom_layout .ant-layout-header {
//     @include useTheme{
//       background-color: getVar('bgColor');
//       color: getVar('textColor');
//     };
//   } 
// }