.app-side-layout {
  height: 100vh;
  display: flex;

  &-menu {
    display: flex;
    flex-direction: column;
    .ant-menu {
      flex: 1;
    }

    .collapsed-box {
      background: #001529;
      display: flex;
      justify-content: flex-end;
      transition: width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
      &-btn-fold {
        width: 72px;
      }
      &-btn-unfold {
        width: 45px;
      }
      &-btn {
        margin: 4px;
        background-color: #001529;
        color: rgba($color: #fff, $alpha: .8);
        &:hover,&:active {
          color: #fff !important;
          background-color: #001529 !important;
        }
      }
    }
  }
  &-menu-unfold {
    // width: 256px;
    .ant-menu {
      .ant-menu-item,.ant-menu-submenu-inline {
        .ant-menu-title-content {
          text-align: left;
          padding-left: 10px;
        }
      }
    }
  }
  // &-menu-fold {
  //   width: 80px;
  // }
  &-container {
    flex: 1;
    background-color: #efefef;
    .tools {
      height: 50px;
      display: flex;
      align-items: center;
      position: fixed;
      right: 16px;
      .global-search {
        width: 200px;
        margin-left: auto;
        .ant-input-affix-wrapper,.ant-input-group-addon .ant-btn {
          height: 30px;
          background-color: #efefef;
          border: none;
          box-shadow: none;
        }
        .ant-input {
          background-color: #efefef;
        }
      }
      .lang-dropdown {
        margin: 0 16px;
        display: flex;
      }
      .install-dropdown {
        display: flex;
      }
    }
  }
}

.lang-dropdown-menu,.install-dropdown-menu {
  ul {
    background-color: #000 !important;
    li {
      color: #fff !important;
    }
  }
}